
    <div class="card mb-4 shadow-sm">
        <img src="{{ asset('uploads/' ~ event.picture) }}" alt="{{ event.picture }}" class="fit-image">
        <div class="card-body">
            <h3 class="card-text">{{ event.title }}</h3>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{{ path('event_show', {'slug': event.slug}) }}" class="btn btn-sm btn-outline-secondary">Voir</a>
                    {% if app.user == event.user or is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('event_edit', {'slug': event.slug}) }}" class="btn btn-sm btn-outline-secondary">Modifier</a>
                    {% endif %}
                </div>
                <small class="text-muted">{{ event.city }} - {{ event.dateStart|date('d-m')}} |{{ event.dateEnd |date('d-m-Y') }}</small>
            </div>
        </div>
    </div>
