{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ asset('uploads/' ~ event.picture) }}" alt="{{ event.picture }}" class="fit-image">
                </div>
                <div class="col-md-8">
                    <h1>{{ event.title }}</h1>
                    <span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="top" title="Ville">
                        <i class="fa fa-map-pin"></i>
                        {{ event.city }}
                    </span>
                    <span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="top" title="Dates">
                        <i class="fa fa-calendar"></i>

                    </span>
                    <span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="top" title="Participants">
                        <i class="fa fa-users"></i>
                        {{ event.participants | length }}
                    </span>
                    <a href="{{ event.url }}" target="_blank" class="badge badge-pill badge-primary" data-toggle="tooltip" data-placement="top" title="Site internet">
                        <i class="fa fa-globe"></i>
                        site web
                    </a>
                    <span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="top" title="Prix">
                        {% if event.price == 0 %}
                            Gratuit
                        {% else %}
                            <i class="fa fa-euro"></i>
                            {{ event.price }}
                        {% endif %}
                    </span>

                    <p>{{ event.description }}</p>
                    {% if app.user and participant != null %}
                        <a href="{{ path('event_add_participant', {'slug': event.slug}) }}" class="btn btn-primary btn-lg">Je n'y vais plus !</a>
                    {% elseif app.user %}
                        <a href="{{ path('event_add_participant', {'slug': event.slug}) }}" class="btn btn-warning btn-lg">J'y vais !</a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="btn btn-warning btn-lg">Je m'inscris</a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
